
.navbar-dropdown-default .dropdown-toggle {
    color: black !important;
}

.navbar-dropdown-default .dropdown-toggle::after {
    color: black !important;
}

.navbar-dropdown-scrolled .dropdown-toggle {
    color: white !important;
}

.navbar-dropdown-scrolled .dropdown-toggle::after {
    color: white !important;
}

